body{
    background-color: #F5F8FF;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share area */
.click-button{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
    cursor: pointer;
}.click-button:hover{
    color: black;
}

/* banner area */
.banner{
background-image: url(../Assets/Hero-bg.png);
height: 650px;
width: 1450px;
margin: 0;
padding: 0;
}
.banner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 150px;

}
.banner-nav h1{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900px;
}
.banner-title{
    text-align: center;
    margin: 158px 267px 152px 267px;
}
.banner-title h1{
    font-weight: bold;
    font-size: 65px;
}
/* Action area */
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 116px 160px 116px 140px;
}
.action-container img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.action-container h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    height: 49px;
    width: 517px;
}
.action-container p{
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
}
/* pro user area */
.pro-user{
    background-color: rgba(78, 71, 255, 0.14);
    text-align: center;
    margin: 116px 159px 137px 141px;
    padding: 50px 142px;
    border-radius: 24px;
   
}
.user{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.paragraph{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}
.pro-user h3{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.paragraph, p{
    margin: 0;
    padding: 0;
}
/* review area */
.review-container{
    margin: 148px 149px 0px 159px;
    padding: 0;
    
}


.review-container h1{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    color: #252432;
}
.review{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
   
}
.review-box{
    background-color: #FFFFFF;
   row-gap: 20px;
   padding: 24px;
   border-radius: 14px;
   max-height: 243px;
   max-width: 366px;
   margin: 0;
}



.avatar{
    display: flex;
    margin: 24px;
}
/* tuch area */
.Touch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px 14px 150px;
    padding: 71px 0;
    gap: 115px;
}

.Touch-container h1{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    
    
   
}
form{
    max-height: 425px;
    max-width: 497px;
    padding: 0;
    margin: 0;

}
.form label{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 19px 0;
}
.input input{
    font-size: 20px;
    max-height: 70px;
    max-width: 497px;
    padding: 20px 32px;
    border-radius: 10px;
}
.tuch-btn{
   height: 70px;
   width: 497px; 
}
/* footer area */
.footer{
    text-align: center;
    background-color: #FFFFFF;
    background-size: cover;
    padding: 104px 155px 103px 154px;
    margin: 0;
}
.footer h1{
    font-size: 100px;
    font-weight: 900px;
    color: #4E47FF;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.footer-link{
    align-items: center;
}
footer a{
    text-decoration: none;
    margin: 48px;
    color: #8987A1;
    font-size: large;
    
}
footer p{
    color: #8987A1;
}